@charset="UTF-8";

form{
	width: 720px;
	margin-left: 20px;
}
input{
	width: 350px;
	height: 50px;
}
input#bot{
	width: 720px;
	font-size: 20pt;
	color: white;
	background-color: rgba(164,174,166,1);
}

select{
	width: 355px;
	height: 55px;
}
option{
    color: black;
}
[selected]{
    color: gray;
}
textarea{
	width: 355px;
	height: 265px;
	margin-left: 15px;
	margin-top: -287px;
	display: block;
    float: right;
}