body{
    padding-top: 75px;
}
div img#logo{
    width: 110px;
    height: 60px;
    padding: 0px;
    margin-left: -10px;
}
a#titulo{
    margin-left: -10px;
}

li#menu {
    margin-left: 16px;
}
.h1{
    font-size: 15pt;
}
img#facelogo{
    width: 20px;
    height: 20px;
}
div img#grande{
    width: 100%;
    max-height: 700px;
}
section#corpo{
	background-color: ghostwhite;

}
section#corpo p#data{
	color: black;
	font-size: 15pt;
  background-color: #cecece;
  padding: 2px;
}
section#corpo p.news{
	color:black;
	font-size: 15pt;
  margin-left: 20px; 
}

.col-sm{
    margin-left: 0px;
    padding-right: 0px;
}
.ml-auto li{
    margin-right: 90px;
}
a#menuMult{
    color: black;
    text-align: center;
    font-size: 25pt; 
    margin-top:100px;
}
h5.align-centro{
    text-align: center;
}

.text-div{
    padding-top: 200px;
}
#praesquerdasobresydrack{
    margin-left: 20px;
}
div div.album img{
    height: 505px;
}
div.album button.btn{
    border: none;
    background-color: white;
    /*padding: .0rem .0rem;*/
}


.dropdown-menu{
    margin-right: -75px;
}

div.carousel-item div.carousel-caption h3,div.carousel-item div.carousel-caption p{
    background-color: rgba(0,0,0,0.4);
    margin: 0px;
     background-clip: padding-box;
}
/* NOVO MULTIMIDIA */
ul#list-ul{
    width: 100%;
	/*margin: 0 auto;*/
	padding: 0px;
	overflow: hidden;
	list-style: none;
}
ul#list-ul li.lisphoto{
}
li{
	list-style: none;
}
li.list-photo{
    display: block;
    float: left;
    width: 300px;
    height: 300px;
    margin: 40px;
    /* border: 5px solid white; */
    background-color: white;
    /* box-shadow: 1px 1px 3px rgba(0,0,0,0.4); */
    /* -webkit-transition: all 0.4s ease-in; */
     background-position: 50% 50%; 
    /* background-size: 400px 400px; */
    /* background-color: #ffffff; */
}
.card{
    padding: 15px;
}
.img-thumbnail{
    border: none;
}
@media screen and (min-device-width:0px) and (max-device-width:480px){
    .album{
        padding: 0px;
    }
    .col-sm{
        padding: 0px;
    }
    .fruta{
        height: 350px;
    }
    button.btn{
        padding: 0px;
    }
    .card{
        padding: 0px;
    }
    ul#list-ul{
        margin: auto;
        margin-left: -20px;
        width: 395px;/*
        padding: 50px;
        overflow: hidden;*/
        list-style: none;
    }
    li.list-photo{
        /*display: block;
        float: left;*/
        width: 100%;
        height: 200px;
       /* margin: 10px;
         border: 5px solid white; */
        background-color: white;
        /* box-shadow: 1px 1px 3px rgba(0,0,0,0.4); */
        /* -webkit-transition: all 0.4s ease-in; */
        /* background-size: 400px 400px; */
        /* background-color: #ffffff; */
    }
    
}