body{
    padding-top: 175px;
    padding-left: 20px;
    padding-right: 20px;
}
div img#logo{
    width: 110px;
    height: 60px;
    padding: 0px;
    margin-left: -10px;
}
a#titulo{
    margin-left: -10px;
}

li#menu {
    margin-left: 16px;
}
.h1{
    font-size: 15pt;
}
#input-date{
	max-width: 38%;
}
.input-file{
	margin-bottom: 155px;
}
img#facelogo{
    width: 20px;
    height: 20px;
}
#praesquerdasobresydrack{
    margin-left: 20px;
}